@model IList<PoGo.Web.Dto.MapInfo>

<div class="row" id="maps">
    @foreach (var map in Model)
    {
        <div class="col-lg-4 map">
            <h2 class="text-center">@map.City</h2>
            <form asp-controller="Map" asp-action="LoadMap" method="post">
                @Html.AntiForgeryToken()
                <input name="name" type="hidden" value="@map.City" />
                <input name="submit" type="image" src="@map.Image" alt="Mapa @map.City" class="img-thumbnail" />
            </form>
        </div>
    }
</div>
