@model IList<PoGo.Web.Dto.MapInfoDto>

<div id="maps" class="row">
    @foreach (var map in Model)
    {
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
            <div class="card mb-3">
                <h3 class="card-header text-center">@map.City</h3>
                <form asp-controller="Map" asp-action="LoadMap" method="post">
                    @Html.AntiForgeryToken()
                    <input name="name" type="hidden" value="@map.City" />
                    <input name="submit" type="image" src="@map.Image" alt="Mapa @map.City" class="card-img map-preview d-block" />
                </form>
            </div>
        </div>
    }
</div>